<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>蒋颖姿的个人站</title>
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

</head>

<body>

  <!-- PRE LOADER -->

  <div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
      <span class="sk-inner-circle"></span>
    </div>
  </div>

  <!-- Navigation section  -->

  <div id='navbar' class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand">
          <i class="fa fa-magnet"></i>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li v-for='navbar in navbars'>
            <a :href="navbar.navbarLink">{{navbar.navbarName}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div id="index">
    <!-- Home Section -->
    <section id="home">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-sm-12">
            <h2>{{home.homeText}}
            </h2>
            <hr>
          </div>

        </div>
      </div>
    </section>

    <!-- Portfolio Section -->

    <section id="portfolio">
      <div class="container">
        <div class="row">

          <div class="col-md-4 col-sm-6" v-for='project in projects'>
            <a :href="project.projectLink">
              <div class="portfolio-thumb">
                <img :src="project.projectImage" class="img-responsive" alt="Portfolio">
                <div class="portfolio-overlay">
                  <div class="portfolio-item">
                    <small>项目名称</small>
                    <h3>{{project.projectName}}</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-12 col-sm-12 text-center">
            <h3>{{home.homeText2}}
            </h3>
          </div>
          <div class="col-md-12 col-sm-12 text-center" v-show='contact.contactShow'>
            <h3>
              <a :href="contact.contactShow">联系我</a>
            </h3>
          </div>

        </div>
      </div>
    </section>

  </div>
  <!-- Footer Section -->

  <div id='footer'>
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-3">
          <i class="fa fa-magnet"></i>
        </div>

        <div class="col-md-4 col-sm-4">
          <p>{{footer.address}}</p>
        </div>

        <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
          <p>
            <a :href="'mailto:'+footer.mail">{{footer.mail}}</a>
          </p>
          <p>{{footer.tel}}</p>
        </div>

        <div class="clearfix col-md-12 col-sm-12">
          <hr>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="footer-copyright">
            <p></p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <ul class="social-icon">
            <li>
              <a href="#" class="fa fa-facebook"></a>
            </li>
            <li>
              <a href="#" class="fa fa-twitter"></a>
            </li>
            <li>
              <a href="#" class="fa fa-linkedin"></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <!-- SCRIPTS -->

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>

</body>

</html>
